* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #acdac7;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#board {
  padding: 0px;
  margin: auto;
  margin-top: 100px;
  background-color: #c19b6c;
}

#board tr td {
  width: 80px;
  height: 80px;
  border: 1px solid #1c1c1c;
  font-family: Helvetica;
  font-size: 30px;
  text-align: center;
}

#board tr td:hover {
  background: #e4e4e4;
  cursor: pointer;
}

#reset
{
  display: block;
  margin: 20px auto;
  width: 200px;
padding: 20px;
cursor: pointer;
font-weight: bold;
font-size: 120%;
background: #3366cc;
color: #fff;
border: 1px solid #3366cc;
border-radius: 10px;
}

#reset:hover {
color: #ffff00;
background: #000;
border: 1px solid #fff;
}


.x { background: red !important;}
